<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue App</title>
  </head>
  <body>
    <div id="app">
      <h1>Elements</h1>
      <div v-for="element in elements" :key="element.id">
        <h2>{{ element.element_type }}</h2>
        <img :src="element.image" :alt="element.element_type">
      </div>
      <h1>Entities</h1>
      <div v-for="entity in entities" :key="entity.id">
        <h2>{{ entity.entity_type }}</h2>
        <img :src="entity.image" :alt="entity.entity_type">
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      import axios from "axios";

      var app = new Vue({
        el: '#app',
        data: {
          elements: [],
          entities: []
        },
        mounted() {
          axios.get('/api/elements/')
            .then(response => this.elements = response.data)
            .catch(error => console.log(error));
          axios.get('/api/entities/')
            .then(response => this.entities = response.data)
            .catch(error => console.log(error));
        }
      });
    </script>
  </body>
</html>