{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to Gigamon!</h1>
  <p>Here are the available wizards:</p>
  <ul>
    {% for mage in mages %}
      <li>{{ mage }}</li>
    {% empty %}
      <li>No wizards available</li>
    {% endfor %}
  </ul>
  <p>Here are the available elements:</p>
  <ul>
    {% for element in elements %}
      <li>{{ element }}</li>
    {% empty %}
      <li>No elements available</li>
    {% endfor %}
  </ul>
  <a href="{% url 'game' %}" class="btn btn-primary">Start a new game</a>
{% endblock %}