{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to Gigamon!</h1>
  <p>Here are the available wizards:</p>
  <ul>
    {% for wizard in wizards %}
    <div class="wizard">
        <h3>{{ wizard.wizard_type }}</h3>
        {% if wizard.image %}
            <img src="{{ wizard.image.url }}" alt="{{ wizard.wizard_type }}">
        {% endif %}
        <p>Collected: {{ wizard.collected }}</p>
    </div>
{% endfor %}
  </ul>
  <p>Here are the available elements:</p>
  <ul>
    {% for element in elements %}
      <li>{{ element }}</li>
    {% empty %}
      <li>No elements available</li>
    {% endfor %}
  </ul>
  <a href="{% url 'game' %}" class="btn btn-primary">Start a new game</a>
{% endblock %}